body {
    background-color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header {
    background-color: white;
    display: grid;
    grid-template-columns: 350px auto;
    grid-template-rows: 150px;
    border-radius: 30px;
}

#logo_link{
    padding-top: 5px;
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
    padding-left: 30px;
}

.logo {
    height: 150px;
}

nav{
    display: flex;
    grid-column: 2/3; 
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
    justify-self: center;
    align-self: center;
    font-size: 22px;
    border-radius: 30px;
}

nav a:hover {
    background-color: gray;
    color: white;
}

.title {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 500px;
}

#courtyard {
    grid-column: 1/4;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
}

.courtyard-img {
    height: 500px;
}

.title-words {
    grid-column: 2/3;
    grid-row: 1/2;
    color: red;
    justify-self: center;
    padding-top: 350px;
    /* align-self: center; */
    font-size: 30px;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 250px 1fr 50px;
    padding-right: 30px;
    padding-left: 30px;
}

/* #background_1 {
    grid-row: 1/2;
    grid-column: 1/2;
    background-color: tan;
    z-index: -2;
    width: 100%;
    height: 100%;
    border-radius: 30px;
} */

.summary {
    background-color: maroon;
    color: white;
    font-size: 20px;
    grid-row: 1/2;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
}

.phantom {
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
    border-radius: 30px;
}

.story_line {
    background-color: maroon;
    color: white;
    font-size: 20px;
    grid-row: 3/4;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
}

footer {
    display: grid;
    background-color: steelblue;
    padding: 25px 50px;
    margin-top: 10px;
    display: flex;
}

footer h3 {
    color: black;
}

footer a {
    color: purple;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

footer h3 a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}
.cite {
    grid-row: auto;
    grid-column: auto;
}