#red1 #blue1 {
    width: 100%;
}

#green1 #yellow1 {
    width: 200px;
    height: 200px;
}

#red1 {
    background-color: red;
}

#blue1 {
    background-color: blue;
}

#green1 {
    background-color: green;
}

#yellow1 {
    background-color: yellow;
}

.content1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}