main {
    display: grid;
    grid-template-columns: 500px 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
}
img {
    grid-column: 1/2;
    width: 500px;
    height: 1000px;
}
section{
    grid-column: 2/3;
    /* display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
    padding-left: 50px;
}
button{
    background-color: orange;
}

