.Num1 {
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.Salt {
    justify-self: center;
    align-self: center;
    font-size: 200px;
    font-family: Arial, Helvetica, sans-serif;
    grid-row: 2/3;
}

span {
    justify-self: center;
    align-self: center;
    grid-row: 1/2;
}

.Num2 {
    display: grid;
    grid-template-rows: 1fr 200px 200px 200px;
}

.Scott {
    width: 2000px;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
    padding-bottom: 200px;
}

.welcome {
    justify-self: center;
    align-self: center;
    grid-row: 2/3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200px;
    
}

.next {
    justify-self: center;
    align-self: center;
    grid-row: 3/4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    padding-top: 200px;
    color: lightgray;
}

.ok {
    margin-top: 200px;
    width: 300px;
    height: 100px;
    grid-row: 4/5;
    justify-self: center;
    align-self: center;
    background-color: blue;
}
b {
    font-size: 50px;
    color: white;
}